body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

li {
  margin: 8px 0;
}

h1 {
  font-weight: bold;
  margin-bottom: 15px;
  background-color: pink;
}

.calc-button {
  border: 1px double black;
  text-align: center;
  cursor: pointer;
}

.display-container {
    background-color: rgba(0,0,0,1);
    text-align: right;
}

.calculator {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.history {
  grid-column: 1 / 3;
  grid-row: 1;
  border: 1px double black;
  text-align: center;
}

.value { 
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 1px double black;
  text-align: center;
}

.operators-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  grid-column: 1;
  grid-row: 3 / 6;
  background-color: blue;
}

.numbers-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  grid-column: 2;
  grid-row: 3 / 6;
  background-color: green;
}